<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Autómata de Pila: {{ '{' }}a^nb^m | n != m{{ '}' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="container">
    <ion-item>
      <ion-label>Cadena:</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="string_" placeholder="Cadena de entrada..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tiempo por tick (ms):</ion-label>
    </ion-item>
    <ion-item>
      <ion-input class="text_input_small" type="text" [(ngModel)]="tick_milisecs" placeholder="Milisegundos..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-button type="button" (click)="validar()">Validar</ion-button>
    </ion-item>

    <ion-item *ngIf="success != NOT_FINISHED">
      <ion-text *ngIf="success == NOT_VALID" color="danger">
        <h6>Estado inválido.</h6>
      </ion-text>

      <ion-text *ngIf="success == VALID" color="success">
        <h6>Estado válido.</h6>
      </ion-text>
    </ion-item>
  </ion-list>

  <div *ngIf="in_validation">
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8">Estado</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">{{current_state}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">Caracter actual</ion-col>
            <ion-col size="4">Índice del caracter</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">{{character}}</ion-col>
            <ion-col size="4">{{character_index}}</ion-col>
          </ion-row>
        </ion-grid>    
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="1">Pila</ion-col>
          </ion-row>
          <ion-row *ngFor="let symbol of stack.slice().reverse()">
            <ion-col class="stack-element" size="1">{{symbol}}</ion-col>
          </ion-row>
        </ion-grid>    
      </ion-item>
    </ion-list>
  </div>
</ion-content>
